<app-header></app-header>
<div class="loginForm">
    <form action="" class="form"  [formGroup]="loginData">
        <div class="col-12 form__box">
            <label class="label">Usuário:</label>
            <div>
                <input
                [ngClass]="{'error': loginData.get('username').invalid && (loginData.get('username').dirty || loginData.get('username').touched)}"
                type="text" class="text-input" placeholder="Usuario" formControlName="username" autocomplete="off">
            </div>
            <span class="txtError"
            *ngIf=" loginData.get('username').invalid && (loginData.get('username').dirty || loginData.get('username').touched)">
            Usuario inválido.
          </span>
        </div>

        <div class="col-12 form__box">
            <label class="label">Senha:</label>
            <div>
                <input
                [ngClass]="{'error': loginData.get('password').invalid && (loginData.get('password').dirty || loginData.get('password').touched)}"
                type="text" class="text-input" placeholder="Senha"  formControlName="password" autocomplete="off">
            </div>
            <span class="txtError"
            *ngIf=" loginData.get('password').invalid && (loginData.get('password').dirty || loginData.get('password').touched)">
            Senha inválida.
          </span>
        </div>
        <div class="button">
            <button class="button__btn" (click)="login()">Entrar</button>
        </div>
    </form>
</div>

<app-lightbox *ngIf="modalVoid" (closeModal)="modalVoid = false" class="infos__lightbox">
    <p class="noting">Senha Incorreta</p>
</app-lightbox>
